{% extends 'base.html'%}

{% block content %}
<div class="container bg-light">
<form method="post">
    {% csrf_token %}
    <table class="table table-striped">
        <thead class="table-light">
            <tr>
                <th>Ação</th>
                <th>Primeiro Trimestre</th>
                <th>Segundo Trimestre</th>
                <th>Terceiro Trimestre</th>
                <th>Selecionar</th>
            </tr>
        </thead>

        <tbody>
            {% for d in info %}
                <tr>
                    <td>{{d.empresa}}</td>
                    <td>{{d.resultados.primeiro_tri}}</td>
                    <td>{{d.resultados.segundo_tri}}</td>
                    <td>{{d.resultados.terceiro_tri}}</td>
                    <td>
                        <input class="form-check-input" type="checkbox" value="{{ d.empresa }}" id="flexCheckDefault"name='empresas'>
                        <label class="form-check-label" for="flexCheckDefault">
                        </label>
                    </td>
                </tr>
            {% endfor %}
            
        </tbody>
    </table>
    <div class='content d-flex justify-content-center'>
        <button type="submit" class="btn btn-danger">Vincule Agora</button>
    </div>
    
</form>
</div>
{% endblock %}